body{
  font-family: Exo, sans-serif;
}
/*-----------------Gereral rules-------------*/
.head-content{
  h2{
    text-align: center;
  }
}
.underline:after{
    content: ' ';
    display: block;
    width: 60px;
    height: 7px;
    background:#8E282F;
    margin:30px auto; 
}
.active{
  opacity: 1;
  transition: ease-in-out 1s;
}


section{
  margin-bottom: 50px;
}
/*------------------HEADER--------------*/
#header{
  margin-bottom: 70px;
}
.navbar-nav{
  a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-top:20px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  .btn-search{
    
  }
}

/*------------------HORSE--------------*/
#horse{
  background-image: url(../../images/heroarea.png);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.horse-content{
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    color:#fff;
    h2{
      
      font-size:32px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    p{
      margin-top:50px;
      margin-bottom: 70px;
    }
    button{
      padding: 16px 80px;
      border-radius:0;
    }
}

/*------------------Services--------------*/
.service-item{
  text-align: center;
  padding: 30px 15px;
  border: 5px solid #8E282F;
  margin-bottom: 10px;
  span{
    font-size: 40px;
    color:#8E282F;
    display: block;
    margin-bottom: 25px;
  }
  h3{
    font-size: 16px;
    font-weight: bold;
  }
  p{
    font-size: 13px;
  }
}

/*------------------BLOG--------------*/
#blog{
  background: #d4d4d4;
  padding: 50px 0;
}
.blogs{
  
  h2{
    text-align: center;
  }
  .blog{
    margin-bottom: 20px;
    position: relative;
    img{
      width: 100%;
      height: auto;
      margin-bottom: 30px;
      transition: ease-in-out 1s;
      backface-visibility: hidden;
      
    }
    .img-blog{
      position: relative;
      z-index: 2;
    }
    .world{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 350px;
      height: 239px;
      margin-left: 15px;
      padding-top:20%;
      background: #000;
      text-align: center;
      color: #fff;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      transition: ease-in-out 1s;
      
    }
    h3{
      font-weight:900;
      font-size: 28px;
      margin-bottom: 15px;
      margin-top:15px;
    }
    span{
      margin-left: 10px;
    }
    a:not(:first-child):before{
      content:'';
      height:13px;
      width: 2px;
      display: inline-block;
      background: #333;
      margin:2px;
      margin-bottom: -3px;
    }
  }
  .img-blog:hover{
        img{
          transform: rotateY(180deg);
        }
        .world{
          transform: rotateY(360deg);
        }
      }
}

/*------------------Team----------------*/
#Team{
  padding: 30px 0;
}
.member{
  position: relative;
  margin-bottom: 12px;
    img{
      width: 100%;
      height: auto;
    }
    .name{
      position: absolute;
      text-align: center;
      top:50%;
      left: 42%;
      color: #fff;
      margin-top:-15%;
    }
  .descripsion{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 7px;
    z-index: 2;
    background: red;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  &:hover{
    .descripsion{
      opacity: 1;
    }
  }
}

/*------------------Work----------------*/

.library{
  list-style: none;
  li{
    display: inline-block;
    width: 45%;
    margin-bottom: 10px;
    margin-right: 5px;
    figure{
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
        
      }
      &:before{
        content: '';
        position: absolute;
        left: -30%;
        height: 100%;
        width: 10%;
        background: linear-gradient(to right,transparent,#fff);
        
      }
      &:after{
        content: '';
        position: absolute;
        right: -30%;
        height: 100%;
        width: 10%;
        background: linear-gradient(to left,transparent,#fff);
           
      }
      &:hover{
        &:before{
        animation-name: tri;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        }
        &:after{
        animation-name: tri1;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        }
      }
    }
  }
}
@-webkit-keyframes tri {
        0% {left:-10%;}
        100% {left:120%;}
      }
@-webkit-keyframes tri1 {
  0% {right:-10%;}
  100% {right:120%;}
}
/*------------------MAIN-FOOTER----------------*/
#main-footer{
  background: #333;
  padding: 40px;
}
.footer-content{
  padding: 10px 20px;
  border-bottom: 5px solid #fff;
  margin-bottom: 15px;
  text-align: center;
}
.footer-logo{
  position: relative;
  text-align: left;
  .circle{
    content: ' ';
    
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    margin-right:10px;
  }
  a{
    position: absolute;
    font-size: 35px;
    padding-bottom: 10px;
    span{
      font-weight: bold;
    }
  }
}
.footer-2{
  .input-footer{
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 5px;
    border: 3px solid #000;
  }
}


/*------------------Responsive----------------*/
@media(min-width:500px){
  .footer-content{
    padding: 10px 20px;
    border-right: 5px solid #fff;
    border-bottom: transparent;
  }
  .library{
    li{
      width: 31%;
    }
  }
}


@media(min-width:768px){
  .library{
    li{
      width: 23%;
    }
  }
  .horse-content{
    h2{
      font-size: 72px;
      margin-bottom: 30px;
    }
  }
}
.contact-form{
  padding:30px;
  margin-top: 100px;
  margin-bottom: 30px;
  background: #ccc;
  label.error{
    color: red;
    padding-top:8px;
  }
  .submit-form{
    margin: 0 auto;
    
  }
}
.name,.email,.subject,.message{
  padding-left: 0;
}